
<!--Boilerplate alert developer modeeee.-->
<mat-toolbar class="menu"  color="primary" >
  <mat-toolbar-row >
    <mat-menu #appMenu="matMenu" >
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="appMenu"  >
        <mat-icon class="example-icon">developer_mode</mat-icon>
        <span>Material</span>
    </button>
    <button mat-button [matMenuTriggerFor]="appMenu">Components</button>
    <button mat-button [matMenuTriggerFor]="appMenu" fxHide.md="true" fxHide.sm="true" fxHide.xs="true">CDK</button>
    <button mat-button [matMenuTriggerFor]="appMenu" fxHide.md="true" fxHide.sm="true" fxHide.xs="true">Guides</button>

    <mat-menu #arrMenu="matMenu">
        <button mat-menu-item>yyyyy</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>


    <span class="example-spacer" ></span>
    <button mat-button class="example-icon" [matMenuTriggerFor]="arrMenu" fxHide.md="true" fxHide.sm="true" fxHide.xs="true">
        <mat-menu #arrMenu="matMenu">
            <button mat-menu-item>5.2.5</button>
            <button mat-menu-item>6.4.7</button>
            <button mat-menu-item>7.3.7</button>
            <button mat-menu-item>8.0.1</button>
          </mat-menu>
          <span>8.0.2</span>
    </button>
    <mat-icon class="example-icon" [matMenuTriggerFor]="arrMenu" fxHide.md="true" fxHide.sm="true" fxHide.xs="true">
        <mat-menu #arrMenu="matMenu">
            <button mat-menu-item>5.2.5</button>
            <button mat-menu-item>6.4.7</button>
            <button mat-menu-item>7.3.7</button>
            <button mat-menu-item>8.0.1</button>
          </mat-menu>
      opacity</mat-icon>

      <button mat-button>
        <mat-icon class="example-icon" fxHide.md="true" fxHide.sm="true" fxHide.xs="true">delete</mat-icon>
      <span fxHide.md="true" fxHide.sm="true" fxHide.xs="true">GitHub</span>
    </button>


</mat-toolbar-row>

</mat-toolbar>

<mat-toolbar color="primary" class="toolbar" fxHide.md="true" fxHide.sm="true" fxHide.xs="true" >
  <mat-toolbar-row>
    <span>Home</span>
    <span class="example-spacer"></span>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>

  </mat-toolbar-row>

</mat-toolbar>
