<mat-toolbar class="menu menu-style">
  <mat-toolbar-row>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="appMenu">
      <mat-icon>font_download</mat-icon>
        <span >Material</span>
    </button>
    <button mat-button [matMenuTriggerFor]="appMenu">Components</button>
    <button mat-button [matMenuTriggerFor]="appMenu" fxHide.lt-lg="true">CDK</button>
    <button mat-button [matMenuTriggerFor]="appMenu" fxHide.lt-lg="true">Guides</button>

    <mat-menu #arrMenu="matMenu">
      <button mat-menu-item>item xy</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>

    <span fxFlex></span>
    <button mat-button [matMenuTriggerFor]="arrMenu" fxHide.lt-lg="true">
      <mat-menu #arrMenu="matMenu">
        <button mat-menu-item>5.2.5</button>
        <button mat-menu-item>6.4.7</button>
        <button mat-menu-item>7.3.7</button>
        <button mat-menu-item>8.0.1</button>
      </mat-menu>
        <span>8.0.2</span>
    </button>
    
    <mat-icon matTooltip="Select a theme color">opacity</mat-icon>

    <button mat-button>
      <mat-icon fxHide.lt-lg="true">account_circle</mat-icon>
        <span fxHide.md="true" fxHide.lt-md="true">GitHub</span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar class="toolbar toolbar-style" fxHide.lt-lg="true">
  <mat-toolbar-row>
    <mat-icon class="menu-burger" fxShow.lt-lg="true">menu</mat-icon>
    <span>Home</span>
  </mat-toolbar-row>
</mat-toolbar>
