@import 'variables';

@mixin toolbar-font ($size, $height, $padding, $font) {
    font-size: $size;
    height: $height;
    padding: $padding;
    font-weight: $font;
}

@mixin header ($color, $padding, $margin) {
  background-color: $color;
  padding: $padding;
  margin-bottom: $margin;
}
