@import 'variables';

@mixin toolbar-font ($size, $height, $padding, $font) {
    font-size: $size;
    height: $height;
    padding: $padding;
    font-weight: $font;
}

@mixin toolbar-module () {

}

