// global mixins

@import 'variables';

@mixin typography ($size, $height, $padding, $font) {
  font-size: $size;
  line-height: $height;
  padding: $padding;
  font-weight: $font;
}

@mixin layout ($height, $padding, $margin-bottom) {
  height: $height;
  padding: $padding;
  margin-bottom: $margin-bottom;
}


@mixin sticky ($top, $position, $index) {
  top: $top;
  position: $position;
  z-index: $index;
}

@mixin border-l ($margin, $border-left-width, $border-left-style) {
  margin: $margin;
  border-left-width: $border-left-width;
  border-left-style: $border-left-style;
}
