@import "utils/variables"; // inside

.tab-title {
  padding-top: 80px;
}
.card {
  @include typography (25px, 30px, 30px, 500);

  &-background-color {
    background-color: $gray-card-background;
    box-shadow: 0 2px 10px -2px $card-box-shadow;
  }
}
.card-image {
  @include image (url('https://material.angular.io/assets/img/examples/shiba1.jpg'), cover)
}
