@import "variables"; // inside
@import "../../../../styles/variables"; //global

.boilerplate-border-l {
  margin: 50px;
  border-left-width: 2px;
  border-left-style: solid;

  &-color-blue {
    border-left-color: $border-blue;
  }
}
