// TODO: brak wydzielenia SMACSS
@import '../styles/variables';
@import '../styles/mixins';
@import '../styles/layout';

.footer {
    @include toolbar-font(25px, 130px, 0px, 600);

}

.example-spacer {
  @include toolbar-font(10px, 130px, 0px, 500);

}

// TODO: klasa center powinna mieć coś wspólnego z centrowaniem. Tutaj widzę tylko styl dot. koloru. Czy footer-center jest klasa wbudowaną?
.footer-center {
  color: $font-color;
}

.example-icon {
  padding: 10px;
  cursor: pointer;
}






