<mat-tab-group class="c-home tab-title-md-text" fxFlex="80" fxLayout="column no-wrap" fxLayoutAlign="center center" animationDuration="0ms">
  <mat-tab label="OVERVIEW">
    <mat-card fxFlex fxLayout="column">
      <mat-card-content class="c-home card-md-text" fxFlex fxLayoutAlign="start center">
        <p class="c-home card-sm-text">
          <i>mat-card</i> is a content container for text, photos, and actions in the context of a single subject.
        </p>
      </mat-card-content>

      <mat-card class="c-home card-md-text-gray-shadow" fxFlex>
        <mat-card-header>
          <mat-card-title class="c-home card-md-text">
              Basic card
          </mat-card-title>

          <span fxFlex></span>
            <button mat-button>
              <mat-icon>code</mat-icon>
            </button>

            <button mat-button>
              <mat-icon>launch</mat-icon>
            </button>
        </mat-card-header>

        <mat-card-content>
          <mat-card class="c-home card-sm-text">Simple card</mat-card>
        </mat-card-content>
      </mat-card>

      <mat-card-header class="c-home card-md-text">
        <mat-card-title>Basic cards</mat-card-title>
      </mat-card-header>

      <mat-card-content fxFlex>
        <p class="c-home card-sm-text">
          Lorem Ipsum är en utfyllnadstext från tryck- och förlagsindustrin. Lorem ipsum har varit standard ända sedan 1500-talet, när en okänd boksättare tog att antal bokstäver och blandade dem för att göra ett provexemplar av en bok. Lorem ipsum har inte bara överlevt fem århundraden,
          utan även övergången till elektronisk typografi utan större förändringar. Det blev allmänt känt på 1960-talet i samband med lanseringen av Letraset-ark med avsnitt av Lorem Ipsum, och senare med mjukvaror som Aldus PageMaker.
        </p>
      </mat-card-content>
    </mat-card>
  </mat-tab>

  <mat-tab label="API">
    <mat-card fxFlex fxLayout="column">
      <mat-card-header class="c-home card-md-text">
        <mat-card-title>API reference for Angular Material card</mat-card-title>
      </mat-card-header>

      <mat-card-content fxFlex>
        <p class="c-home card-sm-text">
          The most basic card needs only an <i>mat-card</i> element with some content. However, Angular Material provides a number of preset sections that you can use inside of an <i>mat-card</i>
        </p>

        <mat-card-header class="c-home card-md-text">
          <mat-card-title>Directives
            <mat-divider></mat-divider>
          </mat-card-title>
        </mat-card-header>

        <mat-card-title class="c-home card-md-text" [ngStyle.xs]="{'font-weight':'900'}">MatCard
        </mat-card-title>

        <p class="c-home card-sm-text">
          A basic content container component that adds the styles of a Material design card.
          While this component can be used alone, it also provides a number of preset styles for common card sections, including:
        </p>
          <ul class="c-home card-sm-text">
            <li>mat-card-title</li>
            <li>mat-card-subtitle</li>
            <li>mat-card-content</li>
            <li>mat-card-actions</li>
            <li>mat-card-footer</li>
          </ul>
        <p class="c-home card-sm-text">
          The most basic card needs only an <i>mat-card</i> element with some content. However, Angular Material provides a number of preset sections that you can use inside of an <i>mat-card</i>
        </p>
      </mat-card-content>
    </mat-card>
  </mat-tab>

  <mat-tab label="EXAMPLES">
    <mat-card fxFlex>
      <mat-card-header class="c-home card-md-text-gray-shadow">
        <mat-card-title>Basic cards</mat-card-title>

        <span fxFlex></span>
            <button mat-button>
              <mat-icon>code</mat-icon>
            </button>

            <button mat-button>
              <mat-icon>launch</mat-icon>
            </button>
      </mat-card-header>

      <mat-card class="c-home card-md-text">
        <mat-card-header>
          <div mat-card-avatar class="c-home card-image-shiba"></div>

          <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

        <mat-card-content>
          <p class="c-home card-sm-text">
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>

        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </mat-card>
  </mat-tab>
</mat-tab-group>

<mat-card fxFlex="20">
  <mat-card-content fxHide.lt-lg="true">
      <mat-list  role="list">
    <div class="home-border-l-list-items-blue">
      <a mat-button class="is-hover-home-list-items" href="https://tburleson-layouts-demos.firebaseapp.com/#/docs" routerLink=".">Link</a>
      <a href="https://tburleson-layouts-demos.firebaseapp.com/#/docs"><mat-list-item class="is-hover-home-list-items" role="listitem">Contents</mat-list-item></a>
      <mat-list-item class="is-hover-home-list-items" role="listitem">Simple lists</mat-list-item>
      <mat-list-item class="is-hover-home-list-items" role="listitem">Navigation lists</mat-list-item>
      <mat-list-item class="is-hover-home-list-items" role="listitem">Action lists</mat-list-item>
      <mat-list-item class="is-hover-home-list-items" role="listitem">Section lists</mat-list-item>
      <mat-list-item class="is-hover-home-list-items" role="listitem">Multi-line lists</mat-list-item>
      <mat-list-item class="is-hover-home-list-items" role="listitem">List with icons</mat-list-item>
      <mat-list-item class="is-hover-home-list-items" role="listitem">List with avatars</mat-list-item>
      <mat-list-item class="is-hover-home-list-items" role="listitem">Dense lists</mat-list-item>
      <mat-list-item class="is-hover-home-list-items" role="listitem">Accesibility</mat-list-item>
  </div>
</mat-list>
  </mat-card-content>
</mat-card>
