Content should be centred
<mat-card>
  <mat-card-header>
    <mat-card-title>Sample Card</mat-card-title>
    <mat-card-subtitle>Example component</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam cursus ligula nunc, sed sollicitudin turpis elementum et. Pellentesque sollicitudin elit metus, eu ullamcorper lectus vehicula sed. Nullam ut massa consequat, varius purus in, dapibus erat.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Cancel</button>
    <button mat-button>Ok</button>
  </mat-card-actions>
</mat-card>
