@import 'variables';  // inside
@import "../../../../../styles/_mixins"; // global

.c-menu {
  @include sticky (0, fixed, 999);
  box-shadow: 0 4px 10px -2px $menu-box-shadow;
}
.c-menu-darken-indigo {
  background-color: $menu-darken-indigo;
  color: $white;
}

.c-toolbar {
  @include layout (200px, 70px, 5px);
  font-size: 35px;
}
.c-toolbar-indigo-blue {
  background-color: $indigo-blue;
  color: $white;
}
