@import 'variables';  // inside
@import "../../../../../styles/_mixins"; // global
@import "../../../../../styles/variables"; // global

.c-navbar-menu {
  @include sticky (0, fixed, 999);
  box-shadow: 0 4px 10px -2px $main-menu-box-shadow;
}
.c-navbar-menu-darken-indigo {
  background-color: $main-menu-darken-indigo;
  color: $white;
}

.c-navbar-toolbar {
  @include layout (200px, 70px, 5px);
  font-size: 35px;
}
.c-navbar-toolbar-indigo-blue {
  background-color: $indigo-blue;
  color: $white;
}
